body { 
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

html {
  font-size: 20px;
}

.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}

#basic p {
  font-weight: bold;
}

h1  {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  letter-spacing: 1.2em;
  border-bottom: 3px solid rgba(115, 115, 114);
  text-shadow: 1px 1px 2px gray;
}

